.DS_Store

.idea/

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

Output/
Graphics/

Data/*.pkl

*.log
*.tmp

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

user_manual.tex
developer_manual.tex